<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a [routerLink]="['/users']" class="nav-link"> Employee List</a>
         </li>
         <li class="nav-item">
            <a [routerLink]="['/users/employees-list']" class="nav-link"> Employee</a>
         </li>
         <li class="nav-item">
            <a [routerLink]="['/users/admins-list']" class="nav-link"> Admins</a>
         </li>
         <li class="nav-item">
            <a [routerLink]="['/users/finance-manager-list']" class="nav-link"> Finance Managers</a>
         </li>
         <li class="nav-item">
            <a [routerLink]="['/users/active-list']" class="nav-link"> Active</a>
         </li>
         <li class="nav-item">
            <a [routerLink]="['/users/inActive-list']" class="nav-link"> Inactive</a>
         </li>
        <li class="nav-item">
            <a [routerLink]="['/users/create-user']" class="nav-link"> Add Employee</a>
         </li>
    </ul>
</nav>
<div class="container col-md-7 offset-md-3">
<h3> Create Employee </h3>
<form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label> First Name</label>
        <input type="text" class="form-control" id="givenName"
            [(ngModel)] = "user.givenName" name="givenName">
    </div>

    <div class="form-group">
        <label> Last Name</label>
        <input type="text" class="form-control" id="surname"
            [(ngModel)] = "user.surname" name="surname">
    </div>

    <div class="form-group">
        <label> Email</label>
        <input type="text" class="form-control" id="email"
            [(ngModel)] = "user.email" name="email">
    </div>

    <div class="form-group">
        <label> Username</label>
        <input type="text" class="form-control" id="username"
            [(ngModel)] = "user.username" name="username">
    </div>

    <div class="form-group">
        <label> Password</label>
        <input type="password" class="form-control" id="password"
            [(ngModel)] = "user.password" name="password">
    </div>

    <button class="btn btn-success" type="submit">
        Submit
    </button>
</form>
</div>
