.login {
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100px;

}

h1 {
    color: orange;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: darkgoldenrod !important;
}