<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/reimbursement" class="nav-link">Reimbursement List</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-reimbursement" class="nav-link"
        >Add Reimbursement</a
      >
    </li>
  </ul>
</nav>

<div class="container col-md-9">
  <h1 class="filterBar">Employee Reimbursement Service List</h1>
  <div class="filterContainer">
    <h5 class="filterBar">Filter Reimbursements</h5>
    <div class="buttonContainer">
      <button class="btn btn-warning filterButton" (click)="getAllReimbursements()">
        All Reimbursements
      </button>
      <button class="btn btn-warning filterButton" (click)="getAllPendingReimbursements()">
        Pending Reimbursements
      </button>
      <button class="btn btn-warning filterButton" (click)="getAllDeniedReimbursements()">
        Denied Reimbursements
      </button>
      <button class="btn btn-warning filterButton" (click)="getAllApprovedReimbursements()">
        Approved Reimbursements
      </button>
    </div>
  </div>

  <table class="table table-dark">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Submitted</th>
        <th>Resolved</th>
        <th>Description</th>
        <th>Status</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reimb of reimbResponse" (click)="popUp(reimb)">
        <td>{{ reimb.reimbID }}</td>
        <td>{{ reimb.amount | currency }}</td>
        <td>{{ reimb.submitted }}</td>
        <td>{{ reimb.resolved }}</td>
        <td>{{ reimb.description }}</td>
        <td>{{ reimb.status }}</td>
        <td>{{ reimb.type }}</td>
      </tr>
    </tbody>
  </table>
</div>
