<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a [routerLink]="['/users']" class="nav-link"> Employee List</a>
         </li>
         <li class="nav-item">
            <a [routerLink]="['/users/employees-list']" class="nav-link"> Employee</a>
         </li>
         <li class="nav-item">
            <a [routerLink]="['/users/admins-list']" class="nav-link"> Admins</a>
         </li>
         <li class="nav-item">
            <a [routerLink]="['/users/finance-manager-list']" class="nav-link"> Finance Managers</a>
         </li>
        <li class="nav-item">
            <a [routerLink]="['/users/create-user']" class="nav-link"> Add Employee</a>
         </li>
    </ul>
</nav>
<div class="container col-md-7">
    <h2>
        Employee Reimbursement Service List
    </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> First Name</th>
                <th> Last Name</th>
                <th> Email</th>
                <th> Username</th>
                <th> Role</th>
                <th> Active?</th>
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userResponse of usersResponse">
                <td> {{ userResponse.givenName }} </td>
                <td> {{ userResponse.surname }} </td>
                <td> {{ userResponse.email }} </td>
                <td> {{ userResponse.username }} </td>
                <td> {{ userResponse.role }} </td>
                <td> {{ userResponse.isActive }} </td>
                <td>
                    <button (click)="updateUser(userResponse.isActive)" class="btn btn-info">
                        Update Is-Active Status
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>